body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  position: relative; /* Necessary for the pseudo-element positioning */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

body::before {
  content: "";
  position: fixed; /* Ensures the overlay covers the whole screen */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./todoimgg.png'); /* Add the path to your image here */
  background-size: cover; /* Ensures the background covers the entire page */
  background-repeat: no-repeat; /* Prevents the background from repeating */
  background-attachment: fixed; /* Keeps the background fixed in place when scrolling */
  background-position: center;
  opacity: 0.7; /* Adjust the opacity for the image */
  z-index: -2; /* Centers the background image */
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Add an overlay color */
  z-index: -1; /* Places the overlay behind the content but above the background image */
}

header {
  color: black;
  padding: 50px;
  font-size: large;
}

footer {
 
  color: #000000;
  padding: 20px;
  text-align: center;
}

/* Catalog page specific styles */
main {
  
  font-size: xx-large;
  
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center; /* To vertically align links */
}

/* Additional styles for responsiveness */
@media (max-width: 768px) {
  header, footer {
    padding: 20px;
  }
  nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  nav ul li:last-child {
    margin-bottom: 0;
  }
}
main {
  margin-top: 2px; /* Adjust margin to avoid overlap with the header */
  display: flex;
  justify-content: center;
  padding: 160px;
  
}

.container {
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-top: 0;
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

input, select, button {
  padding: 10px;
  font-size: 16px;
}

input, select {
  flex: 1;
  margin-right: 10px;
}

button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #1443bbb3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 3px;
  
}

li span {
  margin-right: 10px;
  font-weight: bold;
}

li button {
  
  color: #fff;
  border: none;
  cursor: pointer;
}

